
html {scroll-behavior: smooth;}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #b54343;
  color: #513112;
  text-align: center;
}

/* ==== Header ==== */
header {
  background-color: #222;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  padding: 8px 12px;
  border-radius: 10px;
}

nav a:hover {
  background-color: #ff9800;
  color: black;
  transform: scale(1.1);
}

/* ==== profil ==== */
.foto {
  padding: 50px 20px;
  background-color: rgb(174, 150, 150);
}

.profil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.body {font-family:Poppins;}

.profil:hover {
  transform: scale(1.1);
}

.foto span {
  color: #da9226;
}

/* ==== About ==== */
.about {
  padding: 40px 20px;
  background-color: #f9f9f9;
  border: 2px solid #ff9800 ;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.about:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

/* ==== Hobi ==== */
.hobi {
  padding: 40px 20px;
}

.hobi-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.hobi-box {
  background-color: white;
  border: 2px solid #ff9800;
  border-radius: 10px;
  width: 250px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.hobi-box:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

/* ==== Contact ==== */

.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}

.contact-links a {
  background-color: #222;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.contact-links a:hover {
  background-color: #ff9800;
  color: black;
  transform: scale(1.1);
}

/* ==== Footer ==== */
footer {
  background-color: #222;
  color: white;
  padding: 15px 0;
  margin-top: 50px;
}